Archived/
commons/

ZFeiQ_Original/zfeiq_cli/__pycache__/
ZFeiQ_Original/zfeiq_gui/__pycache__/
ZFeiQ_Original/zfeiq_tui/__pycache__/
ZFeiQ_Original/PPOCRv4/__pycache__/
ZFeiQ_Original/tests/__pycache__/
